body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.task-manager {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.add-task {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.task {
  background-color: hsl(106, 93%, 47%);
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.task h3 {
  margin: 0;
  color: #336633;
}

.task p {
  margin-top: 5px;
  color: #333333;
}

.task .complete-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #4caf50;
  color: #ee4401;
  border: none;
  cursor: pointer;
}

.task .complete-button:hover {
  background-color: #45a049;
}

.task .uncomplete-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #ff9800;
  color: black;
  border: none;
  cursor: pointer;
}

.task .uncomplete-button:hover {
  background-color: #e68a00;
}

.task .delete-button {
  padding: 5px 10px;
  background-color: #ff3333;
  color: black;
  border: none;
  cursor: pointer;
}

.task .delete-button:hover {
  background-color: black;
}

.completed-tasks {
  margin-top: 20px;
}
